<div>
  <nav>
    <a href="/">Home</a> 
    {{#if logged_in}}
      <a href="/dashboard">Dashboard</a>
      <a href="/" id="logout">Log Out</a>
    {{else}}
      <a href="/login">Dashboard</a>
      <a href="/login">Login</a>
    {{/if}}
  </nav>

  <h1>My Dashboard</h1>

  <a href="/dashboard/new" id="create-post-link">Create New Post</a>

  {{#if posts}}
    {{#each posts}}
      <div class="post">
        <a href="/post/{{id}}">
          <h2>{{title}} &#9662;</h2>
        </a>
        <h3>{{body}}</h3>
        <p>Published by: {{User.username}}</p>
        <form action="/dashboard/delete/{{id}}" method="POST">
          <button class="delete-btn">Delete</button>
        </form>
        <a href="/dashboard/edit/{{id}}" class="edit-btn">Edit</a>
      </div>
    {{/each}}
  {{else}}
    <p>No posts found.</p>
  {{/if}}
</div>

<a href="/" id="backbutton">Back</a>